# =========================
# Build 产物（重点）
# =========================
[Bb]uild/
[Bb]in/
[Dd]ebug/
[Rr]elease/
arm/**/o
arm/**/obj
arm/**/lib
arm/**/bin

# QNX / 编译输出
*.o
*.a
*.so
*.out
*.elf
*.map
*.sym
*.lst

# =========================
# Eclipse / Momentics
# =========================
.metadata/
.settings/
.project
.cproject
*.log

# =========================
# 临时文件
# =========================
*.tmp
*.swp
*~
*.bak

# =========================
# 系统文件
# =========================
.DS_Store
Thumbs.db

# =========================
# 可执行 / 中间文件
# =========================
*.exe

# =========================
# 可能的自动生成文件
# =========================
*.d
*.depend

# =========================
# 网络挂载 / 你这个IP目录（建议忽略）
# =========================
192.168.*/